<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ancodertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppBarLayoutTest.AppBarLayoutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ToolBarTest.ToolBarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ScrowViewActivityTest.LinkageNestedScrollView" />
        <activity
            android:name=".ScrowViewActivityTest.ScrowViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".TheCustomViewTest.CustomStarView" />
        <activity android:name=".GestureDetector.GestureDetector" />
        <activity android:name=".ActivityThelifecycle.ActivityThelifecycleB" />
        <activity android:name=".ActivityThelifecycle.ActivityThelifecycle" />
        <activity android:name=".FragmentTest.FragmentTestActivity" />
        <activity android:name=".InternPush.IntentPushActivityB" />
        <activity android:name=".InternPush.intentPushActivity" />
        <activity android:name=".ViewSwitcherTest.TextSwitcherActivity" />
        <activity android:name=".ViewSwitcherTest.ImageSwitcherActivity" />
        <activity android:name=".ViewSwitcherTest.ViewSwitcherTestActivity" />
        <activity
            android:name=".SeekBarTest.SeekBarTestActivity"
            android:label="@string/title_activity_seek_bar_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProgressBarTest.ProgressBarTestActivity" />
        <activity android:name=".StackViewTest.StackViewActivityTest" />
        <activity
            android:name=".AdapterViewFlipperTest.AdapterViewFlipperActivity"
            android:label="@string/title_activity_adapter_view_flipper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ExpandableListViewTest.ExpandableListViewActivity" />
        <activity android:name=".GridLayout.GridViewActivity" />
        <activity
            android:name=".ListActivityTest.listViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ArrayAdapterTest.ArrayAdapterActivity" />
        <activity android:name=".SimpleListViewTest.SimpleListViewActivity" />
        <activity android:name=".QuickContactBadgeTest.QuickContactBadgeActivity" />
        <activity android:name=".ImageButtonTest.ImageButtonActivi" />
        <activity android:name=".ImageView.ImageViewActivity" />
        <activity android:name=".GridLayout.GridLayoutActivity" />
        <activity android:name=".RelativeLayout.RelativeLayoutActivity" />
        <activity android:name=".FrameLayout.FrameLayoutActivity" />
        <activity android:name=".TableLayout.TableLayoutActivity" />
        <activity android:name=".LinearLayout.LinearLayoutActivity" />
        <activity android:name=".Test.TestActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- 设置intent-filter指定程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>